.navbar-brand {
  padding: 0px;
  font-size: 25px;
  width: 250px;
}

.navbar-brand > img {
  height: 50px;
  display: inline-block;
  padding-top: 5px;
  padding-left: 5px;
}

.navbar-brand > span {
  font-size: 45px;
  vertical-align: middle;
}

.navbar-nav {
  float: right;
}

.glyphicon {
  font-size: 20px;
}

.sidebar-title {
  padding-top: 50px;
  color: #9d9d9d;
}

sidebar {
  position: fixed;
  left: 0;
  top: 50px;
  padding: 0 !important;
  background: #303030;
  height: calc(100vh - 50px);
  width: inherit;
  overflow-y: auto;
  border-right: 2px solid #555;
  text-align: center;
}

.main {
  padding-top: 75px;
}

.userContainer {
    margin: 0 auto;
    margin-top: 100px;
}

.productView {
  padding-top: 150px;
  margin-left: 75px;

}

