.navbar-brand {
  padding: 0px;
  font-size: 25px;
  width: 250px;
}

.navbar-brand > img {
  height: 50px;
  display: inline-block;
  padding-top: 5px;
  padding-left: 5px;
}

.navbar-brand > span {
  font-size: 45px;
  vertical-align: middle;
}

.navbar-nav {
  float: right;
}

.glyphicon {
  font-size: 20px;
}

sidebar {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 !important;
  background: #303030;
  height: calc(100vh - 56px);
  width: inherit;
  overflow-y: auto;
  border-right: 2px solid #555;
}