

.user-profile-page {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.header-section {
    margin: 0;
    margin-top:50px;
    padding: 0;
    height: 100px;
    background-color: #3a3f41;
    position: relative;
}

.profile-header-quote {
    position: absolute;
    top: 20px;
    left: 450px;
    font-size: 50px;
    font-weight: 900;
    color: white;
    font-style:italic;
}

.profile-img-container {
    position: absolute;
    width: 150px;
    height:150px;
    background-color: white;
    border-radius:50%;
    top: 20px;
    left: 60px;
}

.user-profile-container {
    height: 564px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: 100%;

}


.profile-nav-container{
    height:100%;
    padding: 0;
    margin: 0;
    background-color: #3a3f41;
    color: #fff;
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-weight: 300;
}


.profile-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profile-nav-item{
    height: 80px;
    padding: 0;
    text-align:left;
    border-bottom: 1px solid black;
    line-height: 80px;
}

.profile-nav-item:hover .nav-link {
    color: white;
}

.profile-nav-item:hover .nav-icon {
    color: white;
}

.nav-icon {
    margin-left: 30px;
    font-size: 30px;
    width: 50px;
    color:lightgray;
}

.nav-link {
    height: 100%;
    margin-left: 25px;
    font-size: 22px;
    color: lightgray;
}

.ion-document {
    padding-right: 5px;
    padding-left: 2px;
}

/* account info */
.account-info-container {
    margin-top: 50px;
    margin-left: 25px;
    font-weight: 300;
}
.form-label {
    padding-top:10px;
    font-weight: 400;
}
.account-info-title {
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 20px;
}

.account-info-form > input {
    font-size: 18px;
}

.account-info-button {
    margin-top: 20px;
}

/* transaction hisotry */
.transaction-container {
    margin-top:50px;
}

.transaction-history-title {
     font-size: 26px;
    font-weight: 700;
    padding-bottom: 20px;
}

.transaction-history-label {
    padding-top: 10px;
    font-weight: 400;
    font-size: 20px;
}



/* aggregate ratings */
.aggregate-rating-container {
    margin-top: 50px;
    height: 400px;
}

.rating-label {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.rating-stars {
    padding-left: 150px;
    text-align: center;
}

.no-rating-label {
    text-align: center;
    line-height: 100px;
}


/* posted product */
.posted-product-container {
    margin-top: 50px;
}

.posted-product-caption {
    font-size: 30px;
}


/*category*/
.category-admin-container{
    margin-top:50px;
}

.category-caption {
    font-size: 30px;
}



/*user admin*/

.user-admin-container {
    margin-top: 50px;
}

.user-admin-caption {
    font-size: 30px;
}







