.user-profile-page {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}

.header-section {
    margin: 0 auto;
    margin-top:55px;
    padding: 0;
    height: 200px;
    width:1600px;
    background-color: #3a3f41;
    position: relative;
}

.profile-header-quote {
    position: absolute;
    top: 80px;
    left: 300px;
    font-size: 50px;
    font-weight: 900;
    color: white;
    font-style:italic;
}

.profile-img-container {
    position: absolute;
    width: 150px;
    height:150px;
    background-color: white;
    border-radius:50%;
    top: 20px;
    left: 60px;
}

.user-profile-container {
    height: 750px;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    width: 1600px;
    border: 2px solid black;
}


.profile-nav-container{
    height:100%;
    padding: 0;
    margin: 0;
    background-color: #3a3f41;
    color: #fff;
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-weight: 300;
}


.profile-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profile-nav-item{
    padding: 0;
    border-bottom: 1px solid black;
}

.profile-nav-item:hover .nav-link {
    color: white;
}

.profile-nav-item:hover .nav-icon {
    color: white;
}

.nav-icon {
    margin-left: 50px;
    font-size: 30px;
    width: 50px;
    color:lightgray;
}

.nav-link {
    margin-left: 25px;
    font-size: 22px;
    color: lightgray;
}

.ion-document {
    padding-right: 5px;
    padding-left: 2px;
}

/* account info */
.account-info-container {
    margin: 0;
    font-weight: 300;
}
.form-label {
    padding-top:10px;
    font-weight: 400;
}
.account-info-title {
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 20px;
}

.account-info-button {
    margin-top: 20px;
}

/* transaction hisotry */
.transaction-history-title {
     font-size: 26px;
    font-weight: 700;
    padding-bottom: 20px;
}

.transaction-history-label {
    padding-top: 10px;
    font-weight: 400;
}








